<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ihi_dfs_client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ihi_dfs_client.My.MySettings.ihi_rhf5_developmentConnectionString"
            connectionString="Data Source=TSE11-NB\SQL2012DEV;Initial Catalog=ihi_rhf5_development;Persist Security Info=True;user id=sa;password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <applicationSettings>
        <ihi_dfs_client.My.MySettings>
            <setting name="IsDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DayToKeepTextLog" serializeAs="String">
                <value>0</value>
            </setting>
        </ihi_dfs_client.My.MySettings>
    </applicationSettings>
</configuration>