CREATE DATABASE [ihi_rhf5_development] ON  PRIMARY 
( NAME = N'ihi_rhf5_development', FILENAME = N'D:\MSSQL2008EXPRESS\DATA\omron\ihi_rhf5\development\ihi_rhf5_development.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ihi_rhf5_development_log', FILENAME = N'D:\MSSQL2008EXPRESS\DATA\omron\ihi_rhf5\development\ihi_rhf5_development_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [ihi_rhf5_development]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [ihi_rhf5_development] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
